.container
  .page-header
    %h1 rails-api
    %p Ruby on Rails web service.
    %p Build on Ruby 2.0, Rails 4.0.2, Postgres database and Cucumber for testing.

  .row
    %h2 Usage and Code
    = "RestFul web service project available at: #{link_to 'GitHub', 'https://github.com/MOctavio/rails-api'}, for usage to obtain a generic client list in json format access through #{link_to 'Heroku rails-api', 'http://rails-api.herokuapp.com/clients.json'} or download the code and use it locally.".html_safe

  .footer.row
    %h2 License
    %p= "Rails-api by Mario Octavio Jimenez is licensed under a #{link_to 'Creative Commons Attribution-ShareAlike 3.0 Unported License.', 'http://creativecommons.org/licenses/by-sa/3.0/'}".html_safe